<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @dash_button.btn_content %>
</p>

<p>
  <strong>Type:</strong>
  <%= @dash_button.btn_type %>
</p>

<%= link_to 'Edit', edit_dash_button_path(@dash_button) %> |
<%= link_to 'Back', dash_buttons_path %>
