<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @team_member.user_id %>
</p>

<p>
  <strong>Team:</strong>
  <%= @team_member.team_id %>
</p>

<p>
  <strong>Role:</strong>
  <%= @team_member.role %>
</p>

<%= link_to 'Edit', edit_team_member_path(@team_member) %> |
<%= link_to 'Back', team_members_path %>
