<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @sprint.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sprint.description %>
</p>

<p>
  <strong>Project:</strong>
  <%= @sprint.project_id %>
</p>

<p>
  <strong>Start:</strong>
  <%= @sprint.start %>
</p>

<p>
  <strong>Finish:</strong>
  <%= @sprint.finish %>
</p>

<p>
  <strong>Status:</strong>
  <%= @sprint.status %>
</p>

<%= link_to 'Edit', edit_sprint_path(@sprint) %> |
<%= link_to 'Back', sprints_path %>
