<!DOCTYPE html>
<html>
<head>
    <title>SSTaskTracking</title>

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>

    <script>
        <% if user_signed_in? %>
            var current_user_content = {
                id: <%= current_user.id %>,
                first_name: "<%= current_user.first_name %>",
                last_name: "<%= current_user.last_name%>"
            };
        <% end %>
    </script>

    <% if user_signed_in? %>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    
        <link rel="stylesheet" href="app/styles/9e5d2fe5.main.css">
        
        <script src="app/scripts/9656f514.vendor.js"></script>
    
        <script src="app/scripts/d0971e1f.main.js"></script>
    <% end %>

</head>
<body>

<%= yield %>

</body>
</html>